header {
    background-image: url(http://i.piccy.info/i9/0162efdb4797decb39760905ddb71301/1483726609/69766/1092073/canis.jpg);
}

h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}
footer {
    font-family: Verdana, sans-serif;
    font-size: 50%;
    color: black;
    text-align: right;
    margin-bottom: auto;
}


.layer1 {
    position: relative;
    font-family: sans-serif;
    font-size: 14pt;
    margin-left: 30px;
}
