h1 {
    font-family: sans-serif;
    font-size: 120%;
    color: black;
    text-align: center;
}
footer {
    font-family: Verdana, sans-serif;
    font-size: 50%;
    color: black;
    text-align: right;
}

