header {
    height: 500px;
    position: relative;
    background: url(http://i.piccy.info/i9/0162efdb4797decb39760905ddb71301/1483726609/69766/1092073/canis.jpg) no-repeat;
    background-position: left;
    background-color: darkslategray;
    margin: 0px;
}

h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: #cfcfcf;
    text-align: right;
    padding-top: 200px;
    padding-right: 30px;
}
footer {
    font-family: Verdana, sans-serif;
    font-size: 50%;
    color: black;
    text-align: right;
    background-color: darkcyan;
}

.layer1 {
    height: 200px;
    position: relative;
    font-family: sans-serif;
    font-size: 14pt;
    padding-left: 30px;
}
